<div ng-hide="loadingAccountInfo">
    <div ba-panel ba-panel-title="Personal Details">
        <div>
            <div class="form-group">
                <label><strong>First name</strong></label>
                <input type="text" ng-change="accountInfoChanged('first_name')" ng-model="administrator.first_name" class="form-control" placeholder="E.g Satoshi">
            </div>
            <div class="form-group">
                <label><strong>Last name</strong></label>
                <input type="text" ng-change="accountInfoChanged('last_name')" ng-model="administrator.last_name" class="form-control" placeholder="E.g Nakomoto">
            </div>
            <div class="form-group">
                <label><strong>Identity number</strong></label>
                <input type="text" ng-change="accountInfoChanged('id_number')" ng-model="administrator.id_number" class="form-control" placeholder="E.g 891218666987">
            </div>
            <div class="form-group">
                <label><strong>Date of birth</strong></label>
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Month" type="text" ng-model="birth.month">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Day" type="text" ng-model="birth.day">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Year" type="text" ng-model="birth.year">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label><strong>Nationality</strong></label>
                <country-select class="form-control pointer" ng-change="accountInfoChanged('nationality')" data-ng-model="administrator.nationality"></country-select>
            </div>
            <div class="form-group">
                <label><strong>Language</strong></label>
                <select ng-change="accountInfoChanged('language')" ng-model="administrator.language" class="form-control">
                    <option value="en">English</option>
                    <option value="af">African</option>
                </select>
            </div>
            <div class="form-group">
                <button ng-click="updateAdministratorAccount()" ng-disabled="!administrator.id_number || !birth.month || !birth.day || !birth.year || !administrator.first_name || !administrator.last_name || !administrator.nationality" class="btn btn-primary pull-right">Save</button>
            </div>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingAccountInfo">
    <loading-image></loading-image>
</div>
